@import 'media';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');

@header-violet-color: #6927CF;
@nearly-black-color: #212121;
@span-red-color: #EC1D31;
@bottom-border-grey-color: #686868;
@menu-top-grey-color: #A1A1A1;
@text-bottom-grey-color: #5C5C5C;
@breadcrumbs-grey-color: #666;
@primary-video-grey-color: #3d3d3d;

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

.header {
    height: 120px;
    width: 100%;
}

.header-top {
    height: 60%;
    background: @header-violet-color;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    @media @tablet {
        justify-content: space-between;
    }
}

.header-bottom {
    height: 40%;
    background: @nearly-black-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.hamburger {
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: .8em;
    margin-right: .9em;
    border-top: .15em solid white;
    border-bottom: .15em solid white;

    @media @tablet {
        display: none;
    }

    &::before {
        content: '';
        position: absolute;
        top: .35em;
        left: 0;
        width: 100%;
        border-top: .15em solid white;
    }
}

.tam-taram-logo {
    svg {
        width: 234px;
        padding-top: 5px;

        @media @tablet {
            width: 342px;
        }
    }
}

.hide {
    display: none;
}

.hide-on-tablet {
    @media @tablet {
        display: none;
    }
}

.hide-on-mobile {
    display: none;

    @media @tablet {
        display: block;
    }
}

.nearest-salon {
    color: white;
    width: 50%;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'PT Sans Narrow', sans-serif;

    @media @tablet {
        width: 30%;
        padding-left: 30px;
    }

    @media @desktop {
        font-size: 11px;
        padding-left: 38px;
    }

    &__text {
        margin: 0;
    }

    &__address {
        margin: 0;
    }

    svg {
        width: 11px;
    }
}

.search {
    width: 30%;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    &__input {
        padding: 8px 40px 8px 15px;
        box-sizing: border-box;
        background-color: black;
        border: 0;
        color: white;
    }

    &__submit {
        position: absolute;
        top: 0;
        right: 30px;
        width: 28px;
        height: 130%;
        cursor: pointer;
        background: url('../img/svg/ico_search.svg') 50% no-repeat;
        border: 0;

        &:focus {
            outline: none;
        }
    }
}

.show {
    display: block;
}

.navigation {
    display: none;
    font-family: 'PT Sans Narrow', sans-serif;

    @media @tablet {
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    &__list {

        @media @tablet {
            margin: 0;
            padding: 0;
        }
    }

    &__item {

        @media @tablet {
            display: inline-block;
            list-style-type: none;
            padding: 13px;
        }

        @media @desktop {
            padding-left: 27px;
            padding-right: 27px;
        }
    }

    &__item_active {
        background-color: black;
    }

    &__link {

        @media @tablet {
            display: block;
            color: @menu-top-grey-color;
            text-decoration: none;
        }
    }
}

.main {
    width: 100%;
    padding-bottom: 130px;
}

.breadcrumbs {
    width: 93%;
    margin: 0 auto;
    font-size: 12px;
    color: @breadcrumbs-grey-color;

    @media @tablet {
        width: 87%;
    }

    @media @desktop {
        width: 95%;
    }

    &__list {
        list-style-type: none;
        padding: 0;
        margin-top: 19px;
        margin-bottom: 31px;

        @media @tablet {
            margin-top: 42px;
            margin-bottom: 22px;
        }

        @media @desktop {
            margin-top: 14px;
            margin-bottom: 56px;
        }
    }

    &__item {
        display: inline-block;
    }

    &__separator {
        display: inline-block;
    }

    &__link {
        text-decoration: none;
        color: @breadcrumbs-grey-color;
    }

    &__link_active {
        color: @span-red-color;
    }
}

.fancybox-slide--video .fancybox-content {
    width: 533px;
    height: 300px;
    max-width: 80%;
    max-height: 80%;
    margin: 0;
}

.title {
    margin-bottom: 10px;

    &__text {
        margin: 0;
        font-size: 28px;
    }

    &__text_primary {
        @media @tablet {
            font-size: 60px;
        }
    }

    &__text_secondary {
        @media @tablet {
            font-size: 30px;
        }
    }

    &_primary {
        @media @tablet {
            margin-bottom: 63px;
        }
    }

    &_secondary {
        margin-top: 88px;
        margin-bottom: 4px;
    }
}

.primary {
    border-bottom: 2px solid @bottom-border-grey-color;
    width: 93%;
    margin: 0 auto;
    position: relative;

    @media @tablet {
        width: 87%;
    }

    @media @desktop {
        width: 68%;
    }
}

.play {
    position: absolute;
    width: 16%;

    &_primary {
        top: 34%;
        left: 43%;

        @media @tablet {
            top: 40%;
        }
    }

    &_secondary {
        top: 30%;
        left: 43%;

        @media @tablet {
            top: 35%;
        }

        @media @desktop {
            top: 36%;
        }
    }
}

.video-primary {
    &__shortcut {
        height: 100%;
        width: 100%;
    }
}

.video-description {
    &-i {
        width: 97%;
        margin: 0 auto;

        @media @tablet {
            width: 99%;
        }
    }

    &__text {
        font-size: 16px;
        font-weight: 700;
        color: @primary-video-grey-color;
        margin-bottom: 10px;

        @media @tablet {
            font-size: 30px;
        }
    }
}

.span {
    &_title {
        color: @span-red-color;
    }

    &_emphasized-thin {
        color: white;
        font-weight: 100;
    }

    &_emphasized-bold {
        font-weight: 700;
    }
}

.load-more {
    display: flex;
    justify-content: center;

    @media @tablet {
        display: none;
    }

    &__button {
        font: 14px 'PT Sans Narrow';
        padding: 12px 40px;
        background-color: @nearly-black-color;
        color: white;
        border-radius: 0;
        border: 0;
    }
}

.slick-prev {
    left: -35px;

    &::before {
        content: url(../img/png/prev.png);
        margin-right: 20px;
    }
}


.slick-next {
    right: -35px;

    &::before {
        content: url(../img/png/next.png);
    }
}

.slick-slide {
    margin-left: 10px;
}

.slick-list {
    margin-left: -10px;
}

.stepbystep {
    width: 90%;
    margin: 0 auto;

    @media @tablet {
        width: 87%;
    }

    @media @desktop {
        width: 68%;
    }
}

.video-stepbystep {
    position: relative;

    &__link {
        display: none;

        @media @tablet {
            display: block;
        }
    }
}

.education {
    width: 90%;
    margin: 0 auto;

    @media @tablet {
        width: 87%;
    }

    @media @desktop {
        width: 68%;
    }
}

.video-education {
    position: relative;
}

.inspiration {
    width: 90%;
    margin: 0 auto;

    @media @tablet {
        width: 87%;
    }

    @media @desktop {
        width: 68%;
    }
}

.video-inspiration {
    position: relative;
}

.shortcut-secondary {
    height: 100%;
    width: 100%;
    margin-bottom: 40px;

    @media @tablet {
        margin-bottom: 0;
    }
}

.footer {
    background: @nearly-black-color;
    padding: 30px 30px 154px;
    display: flex;
    flex-direction: column;

    @media @tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px 22px;
    }
}

.menu-bottom {
    @media @tablet {
        order: 1;
        width: 33%;
    }

    &__list {
        color: @text-bottom-grey-color;
        padding-left: 0;
        margin-top: 15px;
        margin-bottom: 0;
        line-height: 10px;

        @media @tablet {
            margin: 0;
            width: 200px;
        }
    }

    &__item {
        display: inline-block;
        list-style-type: none;
        padding-right: 8px;
    }

    &__link {
        text-decoration: none;
        color: @text-bottom-grey-color;
        font-size: 10px;
    }
}

.menu-social {
    @media @tablet {
        order: 2;
        width: 33%;
    }

    &__list {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 30px;

        @media @tablet {
            display: flex;
            justify-content: space-around;
            margin: 5px 0 0;
        }
    }

    &__item {
        display: inline-block;
        list-style-type: none;
        padding-right: 18px;

        @media @tablet {
            padding: 0;
        }
    }

    &__link {
        text-decoration: none;
    }

    &__img {
        height: 17px;

        @media @tablet {
            height: 19px;
        }
    }
}

.customization {
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 30px;

    @media @tablet {
        order: 3;
        width: 33%;
        margin: 0;
    }
}

.location {

    @media @tablet {
        float: right;
    }

    &__current {
        color: @text-bottom-grey-color;
        margin: 0;
        font-size: 10px;
    }
}

.language {

    @media @tablet {
        clear: right;
        float: right;
    }

    &__current {
        color: @text-bottom-grey-color;
        margin: 0;
        font-size: 10px;
    }
}
